<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editCategory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends 'layouts.html' %}

{% block title %}Configuration{% endblock %}

{% block content %}


<div class="main-content">
    <h2>Edit Category</h2>
    <p>Welcome back, {{ username }}!</p>
   
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    {% if category  %}
    <!-- Flex container for form and link -->
    <div class="form-and-link">
        <form action="{{ url_for('editCategory', cat_id=category['cat_id']) }}" method="post" autocomplete="off">
           
            <label for="categoryName">
                <i class="fas fa-cubes"></i>
            </label>
            <input type="text" name="categoryName" placeholder="Add Category" id="categoryName" value="{{ category['category_name'] }}">
            <input type="submit" value="Update Category">
           
        </form>
    </div>
    {% else %}
        <p style="color: red;">No category found to edit.</p>
        {% endif %}
</div>

    

{% endblock %}
</body>
</html>

    
